* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif;
}
#contents {
  margin: auto;
  width: 100%;
  border: 2px solid black;
}
#navbar {
  position: sticky;
  top: 0px;
  margin: auto;
  width: 100%;
  overflow: hidden;
}
#nav {
  padding: 9px;
  border: 3px solid rgb(120, 120, 236);
  background-color: rgb(225, 204, 240);
  height: 110px;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 2px;
}
#header {
  /* margin-left: px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#header #mainHead h1 {
  padding-top: 10px;
  margin-left: 20px;
  /* width: 300%; */
  font-weight: bold;
  font-size: 1.7rem;
  /* margin: 12px 0px 12px 14px; */
}
#header #logo img {
  height: 70px;
}
#searchBlock {
  margin: auto 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#search{
  /* margin-top: 12px; */
  display : flex;
  align-items: center;
  justify-content : center;
}
#searchBlock #searchLogo img {
  height: 15px;
}
#searchBlock input[type="text"] {
  font-size: 0.8rem;
  /* margin: 16px; */
  text-align: left;
  margin-left: -2rem;
  border: 2px solid rebeccapurple;
  border-radius: 25px 0 0 25px;
  text-align: left;
  width: 200px;
  height: 40px;
  padding-left: 9px;

  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif;
}
input[type="text"]::placeholder {
  font-size: 1rem;
  text-align: left;
}
#searchBlock #search #searchBtn{
  
  font-size: 1rem;
  /* padding: 13px 0px ; */
  border-radius: 0 25px 25px 0;
  font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif;

  position : relative;
  border-radius: 0 25px 25px 0;
  width : 70px;
  height: 40px;
  cursor : pointer;
}
#searchBtn:hover{
  transform: scale(1.06);
}
#searchBtn:active{

  transform: scale(0.99999);
}









  
  /* all menu btn properties is here */
  nav ul {
    /* border: 3px solid red; */
  
    display: flex;
    list-style: none;
  
  }
  nav ul li {
    margin: 0 5px;
  }
  
  nav ul li a {
    font-size: 20px;
    font-weight: 500;
    /* color: #fff; */
    color : red;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 8px 10px;
    transition: all .4s ease;
  }
  
  nav ul li a:hover {
    color: #1b1b1b;
    background-color: white;
  }
  
  nav ul li a:hover,
  nav ul li #active {
    color: #1b1b1b;
    background-color: white;
  }
  nav .menu-btn {
    color: #f2f2f2;
    font-size: 25px;
    cursor: pointer;
    display: none;
   
  }
  #click{
    display: none;
  }
  .menu-btn i{
    position : fixed;
    right: -1rem;
    top :  3.5rem;
   /*  right: 53rem;
    top: 12px;*/
    color : black; 
  } 
  @media (max-width :1217px) {
    nav .menu-btn {
        display: block;
    }
    #click:checked ~ .menu-btn i::before{
        content : "\f00d";
    }
    nav ul {
        position: fixed;
        top : 0px;
        left: 50%;
        right: 50%;
  
        transform: translate(-50%,-50%) scale(0.4); 
        text-align: center;
        visibility: hidden;
        /* left: -100%; */
        
        background: #1b1b1b;
        margin : auto;
        height: 200px;
        /* margin : auto; */
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.4s ease;
  
    }
  
    #click:checked ~ ul {
        left: 0%;
        visibility: visible;
        height: 400px;
        top :19.6rem;
        transform: translate(-0%,-50%) scale(1);
  
    }
  
    nav ul li {
  
        margin: 40px 0;
    }
  
    nav ul li a {
      
        font-size: 20px;
    }
  }
  



  #cartImage img{
    height: 43px;
    position: absolute;
    right : 1.2rem;
    top : 2.7rem;
    padding : 6px 14px;
    }
    #cartImage #logo{
      transition: all 0.4s ease;
    
    }
    #cartImage img:active,
    #cartImage #logo:hover{
      color: #1b1b1b;
      background-color: white;
      border-radius: 4px;
    }















/* All dishesh description */
#allDish {
    /* margin: auto; */
    display: inline-block;
    /* border : 10px solid black; */
  }
  /* new */
  #allDish h1 {
    display: flex;
    font-size: 1.2rem;
    margin: 2%;
    margin-bottom: 3%;
    text-align: center;
    justify-content: center;
  }
  
  /* changes new */
  #dishes {
    /* margin: 6.4% 8.2%; */
    margin: 4.4% 1.2%;
    margin-top: 0px;
    padding: 5px 5px;
    background-color: rgb(235, 231, 224);
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
  }
  #dishes #logo img {
    padding: 0;
    margin: 0;
    width: 180px;
    height: 110px;
    border: 2px solid black;
    border-radius: 4px;
  }
  /* .food img:hover{
      
    
    }
    .food img:active{
      cursor: pointer;
      transform: scale(0.999999);
    
    } */
  .dname {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  
  #dishName:hover {
    background-color: rgb(213, 204, 204);
  }
  #dishName #name,
  #price:hover {
    cursor: pointer;
  }
  
  #logo img:hover {
    cursor: pointer;
    transform: scale(1.0234);
  }
  #logo img:active {
    cursor: pointer;
    transform: scale(0.999999);
  }
  #addingCart {
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #addingCart #number {
    font-size: 0.8rem;
  }
  #minusBtn {
    border-radius: 100%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: bold;
    font-size: 10px;
    margin-right: 3px;
    margin-left: 0;
    border: 2px solid black;
    padding: 4px 9px;
  }
  #addBtn {
    border-radius: 100%;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: bold;
    font-size: 10px;
    /* margin-right: 3px; */
    margin-right: -2px;
    margin-left: 5px;
    /* margin-left: ; */
    border: 2px solid black;
    padding: 3px 7px;
  }
  .Btn {
    cursor: pointer;
    margin: 3px;
  }
  .Btn:hover {
    transform: scale(1.06);
    background-color: bisque;
  }
  .Btn:active {
    transform: scale(0.999999);
    background-color: bisque;
  }
  
  .addCartBtn {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif; */
    font-weight: bold;
    font-size: 13px;
    border: 2px solid black;
    margin: 0px;
    margin-left: 7px;
    padding: 5px 10px;
    border-radius: 4px;
  }
  
  #footer h4 {
    font-weight: 400;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    border: 2px solid black;
    color: white;
    background-color: black;
  }
  

  /* modal login */

  .allBox {

    border: 1px solid rgb(120, 115, 115);
    border-radius: 6px;
    background-color: rgb(224 234 229);
    position: fixed;
    left: 2%;
    top: -100px;
    margin: auto;
    width: 96%;
    overflow: hidden;
    height: 430px;
    visibility: hidden;
    z-index: 1;
    box-sizing: 0 5px 30px rgba(0, 0, 0, .30);
    transition: transform 0.3s, top 0.4s;
  
    transform: scale(0.1);
  
  
  }
  
.open-popup {
  transform: scale(1);
  top: 35px;
  visibility: visible;

}

