* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bree serif", Verdana, Geneva, Tahoma, sans-serif;
}
#root {
  background-color: #fff;
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/* --------------  CSS CODE REFACTOR ------------------------- */
/* ------------ NAVBAR COMPONENT -------------- */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  background-color: #f2f2f2;
  height: 100px;
  padding: 0 5vw;

  box-shadow: 0 1px 3px rgb(206, 164, 236);
  position: sticky;
  top: 0;
  z-index: 3;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
#logo img {
  height: 80px;
}
#mainHeading h1 {
  font-size: 2.2rem;
  font-family: "bree serif";
  font-weight: 500;
}
.menu-container {
  font-family: "overpass";
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
#login-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
#login-link img {
  cursor: pointer;
  height: 30px;
}
#login-link span {
  font-family: "overpass";
  font-weight: bold;
  cursor: pointer;
  border-radius: 1rem;
  font-size: 1.3rem;
  padding: 4px 15px 0px;
  transition: all 0.4s ease;
}
.menu-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container .menu-links li {
  margin: 0rem;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-container .menu-links li a {
  font-family: "overpass";
  font-weight: bold;
  text-transform: capitalize;
  text-decoration: none;
  border-radius: 1rem;
  color: black;
  font-size: 1.3rem;
  padding: 4px 15px 0px;
  transition: all 0.4s ease;
}

.menu-links li a:hover,
#login-link span:hover {
  background: #bee3f8;
}
.fa-bars {
  cursor: pointer;
  font-size: 1.6rem;
  position: relative;
  left: 0.5rem;
  top: 0.1rem;
}
.fa-close {
  cursor: pointer;
  font-size: 1.9rem;
  position: relative;
  left: 0.5rem;
  top: 0.1rem;
}

/* VERY IMPORTANT CODE MENU-SLIDER */
@media (max-width: 900px) {
  .menu-links {
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    flex-direction: column;
    position: absolute;
    top: 102px;
    width: 100%;
    /* left: 0%; */
    height: 100vh;
    z-index: 3;
    align-items: start;
    justify-content: start;
  }
  .menu-container .menu-links li {
    justify-content: start;
    width: 100%;
    border-bottom: 1px solid rgb(196, 192, 192);
  }
  .menu-container .menu-links li a {
    font-size: 1.1rem;
    font-family: "overpass";
    margin: 0.5rem 0.2rem;
  }
}
@media (max-width: 500px) {
  #login-link img {
    height: 27px;
  }
  #navbar {
    padding: 0 3vw;
    height: 80px;
  }
  #logo img {
    height: 60px;
  }
  #header {
    gap: 0.6rem;
  }
  #mainHeading h1 {
    font-size: 1.7rem;
  }
}
@media (max-width: 356px) {
  #mainHeading h1 {
    font-size: 1.5rem;
  }
}

/* ----- CIRCULR FOOD STYLES---------- */
#showFood {
  /* margin: 15px 70px; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#showFood h2 {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 1%;
  padding-left: 5vw;
}
/* container of only circluar food */
#allFoods {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.2rem;
  margin: 0.8rem 1rem;
}
@media (max-width: 412px) {
  #allFoods {
    gap: 0.5rem;
  }
}
@media (max-width: 377px) {
  #allFoods {
    gap: 0.2rem;
  }
}
@media (max-width: 359px) {
  #allFoods {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
}
#allFoods .food {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#allFoods .food img {
  transition: all 0.2s ease-in;
  border: 2px solid black;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
.food img:hover {
  cursor: pointer;
  transform: scale(1.04);
}
.label label {
  font-family: "overpasss", "signika negative";
  text-transform: capitalize;
}
.food img:active {
  cursor: pointer;
  transform: scale(0.999999);
}
/* media quesry for that */
@media (max-width: 800px) {
  #showFood {
    margin: 1rem 0.4rem;
  }
  #allFoods {
    margin: 0.4rem 0.8rem;
  }
  #showFood h2 {
    font-size: 1.4rem;
  }
  #allFoods .food img {
    width: 80px;
    height: 80px;
  }
}

/* ----- MAIN SLIDER ANIMATION STYLES---------- */
#specialFood {
  margin-top: 1%;
  text-align: center;
}
#Special-Heading {
  font-size: 2.1rem;
  font-weight: normal;
  margin-top: 1%;
  margin-bottom: 1.8%;
}
#slider {
  margin: 20px auto;
  height: 50%;
  overflow-x: hidden;
}

#slider figure {
  position: relative;
  width: 1000%;
  margin: 0;
  left: 0;
  animation: slider 10s infinite;
}

#slider figure img {
  margin: 0px;
  border: 1px solid rgb(243, 206, 193);
  height: 50%;
  width: 10%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  10% {
    left: 0;
  }

  20% {
    left: -100%;
  }

  30% {
    left: -100%;
  }

  40% {
    left: -200%;
  }

  50% {
    left: -200%;
  }

  60% {
    left: -300%;
  }

  70% {
    left: -300%;
  }

  80% {
    left: -400%;
  }

  90% {
    left: -400%;
  }
}

/* slider responsive */
@media (max-width: 800px) {
  #Special-Heading {
    font-size: 1.4rem;
  }
}

/* ----- ALL DISH CARDS STYLES---------- */
#allDish {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
/* dishesh box */
#dishes:hover {
  transition: all 0.4s;
  transform: scale(1.05);
}
#dishes {
  transition: all 0.4s;
  /* background-color: rgb(223, 219, 219); */
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(185, 177, 177);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
}
/* imae of inside of dish */
#dishes #logo img {
  border: 4px 4px 0 0;
  transition: all 0.4s;
  width: 250px;
  height: 200px;
}

.dname {
  font-family: "signika negative";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 0.4rem;
  border-radius: 6px;
  transition: all 0.4s ease-in;
  cursor: pointer;
  margin: 0.4rem 0;
}
#name {
  text-transform: uppercase;
}
.dname:hover {
  background-color: rgb(211, 208, 208);
}
#dishName {
  margin-top: 0.6rem;
}
#addingCart {
  margin-bottom: 0.6rem;
  /* width: 290px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#minusBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
  padding: 0 8px;
  transition: all 0.2s ease-in;
}
#number {
  font-size: 1.1rem;
  padding: 0 0.2rem;
}
#addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 15px;
  border: 1px solid black;
  padding: 0px 5px;
  transition: all 0.2s ease-in;
}
.Btn {
  cursor: pointer;
  margin: 3px;
}
.Btn:hover {
  transform: scale(1.04);
  background-color: bisque;
}
.addCartBtn {
  color: black;
  font-size: 0.9rem;
  padding: 2px 8px 0px 8px;
  margin-left: 0.5rem;
  transition: all 0.3s ease-in;
  text-align: center;
  font-family: "signika negative";
  border: 1px solid black;
  border-radius: 7px;
  cursor: pointer;
}

/* responsive desgin */
@media (max-width: 600px) {
  #allDish {
    gap: 0rem;
  }
}
@media (max-width: 800px) {
  /* imae of inside of dish */
  #dishes #logo img {
    width: 300px;
    height: 200px;
  }
  .dname {
    font-size: 1.5rem;
  }
  #number {
    font-size: 1.3rem;
  }

  #number {
    font-size: 1.1rem;
    padding: 0 0.2rem;
  }
  #minusBtn {
    font-size: 20px;
    padding: 0 11px;
  }
  #addBtn {
    font-size: 20px;
    padding: 0px 7px;
  }
  .addCartBtn {
    font-size: 1.1rem;
    padding: 1px 8px 0px 8px;
    margin-left: 10px;
  }
}

/* coin - popup styles */
.coin-popup {
  background-color: red;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.allBox {
  border: 1px solid rgb(120, 115, 115);
  border-radius: 6px;
  background-color: rgb(224 234 229);
  width: 470px;
  overflow: hidden;
  height: 430px;
  visibility: hidden;
  z-index: 1;
  box-sizing: 0 5px 30px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s, top 0.4s;
  position: absolute;
  top: 100px;
  transform: scale(0.1);
}

.allBox h2 {
  text-align: center;
  margin: 16px 12px;
  letter-spacing: 0.03rem;
  word-spacing: 4px;
  font-size: 1.4rem;
}
.allBox p {
    font-size: 20px;
  }

@media (max-width: 500px) {
  .allBox {
    width: 23rem;
  }
  .allBox p {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .allBox {
    width: 21rem;
  }
}


/* Below code is not refactored ------------------------- */

#footer h4 {
  font-weight: 400;
  font-size: 19px;
  padding: 4px;
  text-align: center;
  border: 2px solid black;
  color: white;
  background-color: black;
}

/* modal for  */
/* desing the popup of login panel */
* {
  font-family: "Bree Serif";
}

.LoginForms {
  display: flex;
  align-items: center;
  justify-content: center;
}

#LoginForm {
  margin-left: 13px;
  padding: 1px;
}

#emailId label,
#emailId label {
  font-size: 1.1rem;
}

#emailId #addEmail {
  text-align: left;

  /*border: 1px solid rgb(187, 181, 181);
  border-radius: 5px;
  */
  padding: 5px 9px;
  background-color: #f2f2f2;
  margin: 10px 0px 15px 0px;
  width: 93%;

  border: 1px solid rgb(121, 119, 116);
  border-radius: 3px;
}

#password #addPass {
  text-align: left;

  border: 1px solid rgb(187, 181, 181);
  border-radius: 5px;
  padding: 5px 9px;
  background-color: #f2f2f2;
  margin: 10px 15px 43px 0px;
  width: 93%;
}

#password hr {
  margin: 0px;
}

#password {
  margin-top: 5px;
}

#Bottons {
  margin: 15px 30px 15px 0px;
  display: flex;
  float: right;
}

#CloseBtn {
  color: white;
  margin-right: 10px;
  border: none;
  background: grey;
  border-radius: 5px;
  padding: 4px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#GoBtn {
  color: white;
  margin-left: 10px;
  border: none;
  background: blueviolet;
  border-radius: 5px;
  padding: 4px 20px;
  font-size: 1.2rem;
  cursor: pointer;
}

#CloseBtn:hover,
#GoBtn:hover {
  transform: scale(1.05);
}

#CloseBtn:active,
#GoBtn:active {
  transform: scale(0.9999);
}

::placeholder {
  font-size: 0.9rem;
}

.open-popup {
  transform: scale(1);
  top: 35px;
  visibility: visible;
}

.active {
  /*filter: blur(4px);
  */
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.images {
  border: 1px solid rgb(208, 16, 83);
  display: block;
  margin: auto;
  margin-bottom: 15px;
  width: 100px;
  border-radius: 50%;
}

#openingWeb {
  z-index: 5;
  height: 0vh;
  top: 2px;
  display: flex;
}

#openLeft {
  z-index: 5;
  position: relative;
  top: 0px;
  /* 0 to -50 */
  background-color: white;
  height: 150vh;
  top: -200px;
  right: 0vw;
  width: 52vw;
  transition: 1.5s 0.1s all;
}

#openRight {
  z-index: 5;
  position: relative;
  background-color: white;
  height: 150vh;
  top: -200px;
  left: 0vw;
  width: 52vw;
  transition: 1.5s 0.1s all;
}

.leftBox {
  right: 52vw;
  visibility: hidden;
  height: 0px;
}

.rightBox {
  left: 52vw;
  visibility: hidden;
  height: 0px;
}

/* mobile application-download-box */
.download-box-hide{
  display: none;
}
.application-download-box{
  height: 70px;
  background-color: #edaf4c;
  position: fixed;
  bottom: 32px;
  right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 25px 0 25px 25px;
}
.application-download-bax-close{
   position: "absolute";
   right: -5px;
   top: -10px;
}

/* media query for application download box in mobile screen */
@media (max-width: 450px) {
  .application-download-box{
    height: 70px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 25px;
  }
  .application-download-bax-close{
    right: 14px;
    top: 22px;
 }
 .application-download-bax-close i{
  font-size: 26px;
 }
}